* {
    margin: 0;
    padding: 0;
    font-family: 'serif', 'sans-serif';
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(rgba(96, 96, 121, 0.5), rgba(113, 113, 142, 0.5));
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#form {
    width: 400px;
    background-color: rgba(205, 196, 196, 0.594);
    border-radius: 5px;
    padding: 30px;
}

h1{
    text-align: center;
    color: black;
}

#form button{
    background-color: grey;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder; 
    margin-right: 5px;   
}

.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid black ;
}